a {
  text-decoration: none;
  color:black;
}  /*�븯�씠�띁留곹겕�쓽 諛묒쨪�쓣 �뾾�븷怨� 湲��옄�깋�쓣 寃��젙�깋�쑝濡� 留뚮벊�땲�떎*/
ol {
  padding-top: 20px;
  margin : 0;
  border-right:gray solid 2px;
}
h1 {
  text-align: center;
  border-bottom: gray solid 3px;
  padding-bottom: 0px;
  margin:0;
}
.indexgrid {
  width:200px;
  grid:130px 130px/ 130px 130px;
  display:grid;
  text-align:center;
  margin:0px;
  margin-top: 20px;
}
#grid {
  display: grid;
  grid-template-columns: 150px auto;
  margin:0;
}
#task {
  padding-left: 20px;
}
#bank {
  display:inline;
  width:300px;
}