a {
  text-decoration: none;
  color:black;
} 
ol, ul {
  padding-top: 20px;
  margin : 0;
  border-right:gray solid 2px;
}
h1 {
  text-align: center;
  border-bottom: gray solid 3px;
  padding-bottom: 0px;
  margin:0;
}
.bank {
	display:block; 
	margin-left:auto; 
	margin-right: auto;
 	 border-bottom: gray solid 3px;
  	padding-bottom: 0px;
 	margin:0;
}	
.indexgrid {
  width:200px;
  grid:130px 130px/ 130px 130px;
  display:grid;
  text-align:center;
  margin:0px;
  margin-top: 20px;
}
#grid {
  display: grid;
  grid-template-columns: 150px auto;
  margin:0;
  height: 500px;
}
#task {
  padding-left: 20px;
}
#bank {
  display:inline;
  width:300px;
}